[submodule "lib/luadata"]
	path = lib/luadata
	url = git@github.com:cujoai/luadata.git
[submodule "lib/luajson"]
	path = lib/luajson
	url = git@github.com:cujoai/luajson.git
[submodule "lib/lunatik"]
	path = lib/lunatik
	url = git@github.com:cujoai/lunatik.git
[submodule "lib/lunatik-tests"]
	path = lib/lunatik-tests
	url = git@github.com:cujoai/lunatik-tests.git
[submodule "lib/luabase64"]
	path = lib/luabase64
	url = git@github.com:cujoai/luabase64.git
[submodule "lib/luakcrypto"]
	path = lib/luakcrypto
	url = git@github.com:cujoai/luakcrypto
