[submodule "lib/luajson"]
	path = lib/luajson
	url = https://github.com/cujoai/luajson.git
	branch = master
[submodule "lib/lunatik"]
	path = lib/lunatik
	url = https://github.com/cujoai/lunatik.git
	branch = master
[submodule "lib/luadata"]
	path = lib/luadata
	url = https://github.com/cujoai/luadata.git
	branch = master
[submodule "lib/luabase64"]
	path = lib/luabase64
	url = https://github.com/cujoai/luabase64.git
	branch = master
[submodule "lib/lunatik-tests"]
	path = lib/lunatik-tests
	url = https://github.com/cujoai/lunatik-tests.git
	branch = master
